{{ ansible_managed|comment }}

[Unit]
Description=system configuration upgrade
After=network-online.target
 
[Service]
User=ubuntu
StandardOutput=file:/var/log/spot-node/stdo.log
ExecStart=/bin/sh -c 'ansible-pull -U git@github.com:Interaze/Node-Pool.git'
TimeoutStopSec=600
